@use "variables" as variable;

.driver-details-container {
    display: flex;
    background-color: #464242;
    justify-content: space-between;

    padding: 20px;

    .driver-card {
        font-size: 14px;

        background-color: #8f8080;
        color: white;
        font-weight: bold;
        padding: 20px;
        gap: 10px;
        border-radius: 12px;

        .driver-biography-card {
            display: flex;
            gap: 20px;
        }

        .driver-avatar {
            text-align: center;
            margin-bottom: 15px;
        }

        .driver-name {
            display: flex;

            h2 {
                display: flex;
                flex-direction: column;
                text-align: center;

            }

            .country-flags {
                text-align: center;
                flex-direction: column;
                gap: 10px;

            }
        }

        .driver-info {
            color: white;

            p {
                color: white;
                text-align: justify;
                text-decoration: none;

                &.biography a {
                    color: #ff261e;
                    text-decoration: none;


                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}