@use "variables" as variable;

.drivers {
  display: flex;
  justify-content: center;
  padding: 30px;

  table {
    @include variable.table;

    thead {
      th {
      @include variable.th;
      }
    }

    tr:first-child {
      background-color: rgb(230, 195, 1);
    }

    tr:nth-child(2) {
      background-color: rgb(192, 192, 192, 0.7);
    }

    tr:nth-child(3) {
      background-color: rgba(206, 138, 70, 0.6);
    }

    td {
      @include variable.td;

      span {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 40px;
        padding: 0 20px;

        .flag {
          margin-right: 10px;
        }
        &:hover {
          // color: variable.$primaryColor;
          font-size: 16px;
          transition: 0.1 ease-in;
        }
      }
    }
  }
}
