@use "variables" as variable;

.drivers {
  display: flex;
  justify-content: center;
  padding: 30px;

  table {
    @include variable.table;
    box-shadow: 0 0 10px 1px #fff;

    thead {
      th {
        @include variable.th;
        text-align: center;
        font-size: 20px;
      }
    }

    tr:first-child {
      box-shadow: 0 0 70px 0 rgb(246, 217, 52) inset;
    }

    tr:nth-child(2) {
      box-shadow: 0 0 70px 0 rgb(192, 192, 192, 0.7) inset;
    }

    tr:nth-child(3) {
      box-shadow: 0 0 70px 0 rgba(206, 138, 70, 0.6) inset;
    }

    td {
      @include variable.td;

      span {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 35px;
        margin-left: 10px;
        gap: 10px;
      }
    }

    .align-left {
      text-align: left;
      padding-left: 10px;
    }

    tr:nth-child(n + 4) {
      &:hover {
        background-color: #ffeeee;
      }
    }
  }
}

@media (max-width: 770px) {
  .drivers {
    padding: 0;

    table {

      thead {

        th {
          font-size: 17px;
          border-radius: 0;
        }
      }

      td {
        padding: 10px 8px;

        span {
          justify-content: center;
        }
      }

    }
  }
}