@use "variables" as variable;

.driver-details-container {
    display: flex;
    background-color: #464242;
    justify-content: space-between;

    .driver-details-table {
        width: 200%;
    }

    .driver-card {
        font-size: 14px;

        background-color: #8f8080;
        color: white;
        font-weight: bold;
        padding: 20px;
        gap: 10px;
        border-radius: 12px;

        .driver-biography-card {
            display: flex;
            gap: 20px;
        }

        .driver-avatar {
            text-align: center;
            margin-bottom: 15px;
        }

        .driver-name {
            display: flex;

            h2 {
                display: flex;
                flex-direction: column;
                text-align: center;

            }

            .country-flags {
                text-align: center;
                flex-direction: column;
                gap: 10px;

            }
        }

        .driver-info {
            color: white;

            p {
                color: white;
                text-align: justify;
                text-decoration: none;

                &.biography a {
                    color: #ff261e;
                    text-decoration: none;


                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


.driver-details {
    width: 100%;
    min-width: 300px;

    display: flex;
    justify-content: center;
    padding: 30px;

    table {

        max-width: 800px;
        margin: 0;
        box-shadow: 0 0 20px 5px #ddd;
        border-radius: 20px 20px 0 0;
        background-color: #fff;
        font-size: 15px;
        font-weight: 600px;

        thead {

            th {
                border-radius: 10px 10px 0 0;
                box-shadow: 0 0 10px 1px #fff;
                text-align: left;
                padding: 10px;
                height: 30px;
                background-color: variable.$primaryColor;
                color: #fff;
                font-size: 25px;
            }
        }

        tr:first-child {
            background-color: rgb(255, 217, 0);
        }

        tr:nth-child(2) {
            background-color: rgb(192, 192, 192, 0.7);
        }

        tr:nth-child(3) {
            background-color: rgba(206, 138, 70, 0.6);
        }

        td {
            padding: 8px 20px;
            border: 2px solid #ddd;

            &:hover {
                color: variable.$primaryColor;
            }
        }
    }
}