@use "variables" as variable;

.driver-details-container {
    margin: 20px;
    display: flex;

    // justify-content: space-between;

    .driver-card {
        font-size: 14px;
        height: 300px;
        border-radius: 20px 0 0px 0px;
        background-color: #8f8080;
        color: white;
        padding: 20px;
        gap: 10px;

        .driver-biography-card {
            display: flex;
            gap: 20px;
        }

        .driver-avatar {
            text-align: center;
            margin-bottom: 15px;
        }

        .driver-img {
            width: 110px;
            height: 110px;
            border-radius: 20%;
        }

        .driver-img[src$="avatar.png"] {
            opacity: 0.4;
            filter: grayscale(100%);
        }

        .driver-name {
            display: flex;

            h2 {
                display: flex;
                flex-direction: column;
                font-weight: bold;
                font-size: 15px;
                margin-bottom: 30px;

            }

            .country-flags {
                text-align: center;
                flex-direction: column;
                margin-bottom: 10px;
            }
        }

        .driver-info {
            color: white;

            p {
                color: white;
                text-align: justify;
                text-decoration: none;
                margin-bottom: 15px;

                &.biography a {
                    color: #caafae;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.driver-details {
    display: flex;
    width: 1000px;
    margin-bottom: 50px;

    .driver-details-table {
        width: 100%;
    }

    table {
        box-shadow: 0 0 20px 5px #ddd;
        border-radius: 20px 20px 0 0;
        background-color: lightgrey;
        opacity: 0.9;
        font-size: 15px;
        font-weight: 600;
        max-width: 1000px;

        thead {

            th {

                box-shadow: 0 0 10px 1px #fff;
                text-align: center;
                padding: 10px;
                height: 30px;
                background-color: variable.$primaryColor;
                color: #fff;
            }

            p {
                font-weight: bold;
            }
        }

        tr:first-child {
            background-color: rgba(255, 215, 0, 1);
        }

        tr:nth-child(2) {
            background-color: rgb(192, 192, 192, 1);
        }

        tr:nth-child(3) {
            background-color: rgba(205, 127, 50, 1);
        }

        tr:nth-child(4) {
            background-color: rgba(255, 221, 221, 1);
        }

        tr:nth-child(5) {
            background-color: rgba(255, 235, 238, 1);
        }

        tr:nth-child(6) {
            background-color: rgba(204, 236, 255, 1);
        }

        tr:nth-child(7) {
            background-color: rgba(204, 255, 229, 1);
        }

        tr:nth-child(8) {
            background-color: rgba(230, 240, 255, 1);
        }

        tr:nth-child(9) {
            background-color: rgba(235, 255, 240, 1);
        }

        tr:nth-child(10) {
            background-color: rgba(255, 240, 250, 1);
        }

        tr:nth-child(11) {
            background-color: rgba(255, 204, 204, 1);
        }

        tr:nth-child(12) {
            background-color: rgb(255, 229, 204, 1);
        }

        tr:nth-child(13) {
            background-color: rgba(255, 245, 204, 1);
        }

        td {
            padding: 8px 20px;
            border: 2px solid #ddd;
            vertical-align: middle;
            text-align: center;

            span {
                display: flex;
                align-items: center;
                gap: 10px;

                &:hover {
                    color: variable.$primaryColor;
                }
            }
        }
    }
}