@use "variables" as variable;

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: variable.$tertiaryColor;
    padding: 5px 20px;
    z-index: 1000;

    .footer-left {
        display: flex;
        align-items: center;
        height: 30px;
        width: auto;
    }

    .footer-right p {
        margin: 0;
        font-size: 14px;
        color: white;
    }

    .logo-footer {
        height: 20px;
    }

    .social-icons {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 28px;

        a {
            display: flex;
            align-items: center;
        }
    }

    .social-icons a {
        color: white;

        &:hover {
            color: variable.$primaryColor;
        }
    }

}