// tamna pozadina
@media (min-width: 768px) {
    .dark-theme {
        background-color: rgb(56, 56, 63);
        color: rgb(17, 17, 17);
        min-height: 100vh;
        padding: 20px;
    }

    // Header

    .homepage-container {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        // .flag {
        //     height: 100px;
        //     max-width: fit-content;
        // }

        .welcome {
            font-size: 30px;
            text-align: center;
            margin: 15px;
        }
    }

    @media (min-width: 768px) {
        .header-container {
            display: flex;
            align-items: center;
            gap: 20px;

            .flag {
                height: 100px;
                width: 200px;
            }

        }

        .welcome-container {
            background-color: #ffffff;
            height: 100px;
            width: 100%;

            margin-bottom: auto;
            padding-top: 25px;



        }

        .welcome {
            font-size: 45px;
            text-align: left;
            font-family: "Titillium Web", sans-serif;
            font-weight: bolder;
            font-style: italic;
            color: rgb(56, 56, 63);


        }
    }
}


/* CAROUSEL POCETAK */

.carousel-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    // overflow-x: auto;
    /* horizontal skrol */
    scroll-snap-type: x mandatory;
    width: 100%;
    gap: 3px;
}



.carousel-container img {
    // width: 100%;
    max-width: 30%;
    /* za manje ekrane */
    height: auto;
    opacity: 0.9;
    border-radius: 2px;
}



@media (min-width: 768px) {
    @keyframes slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

    .carousel-container {
        display: flex;
        width: 2400px;
        animation: slide 25s infinite linear;
    }
}



@media (max-width: 768px) {
    .carousel-container {
        display: flex;
        flex-direction: column;
        /* za manje od 768px */
        align-items: center;
        gap: 8px;
        /* razmak izmedju slika */
        width: 100%;
    }

    .carousel-container img {
        width: 90%;
        max-width: 400px;
        /* za mobilni */
        height: auto;

    }
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.header-h3,
.welcome {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #E10600;
    /* F1 CRVENA */
    text-align: center;
}



/* CAROUSEL KRAJ */

/* VIDEO POCETAK */

.video-monaco {
    margin-top: 50px;
    text-align: center;
}

.kartice {
    display: flex;
    gap: 10px;
    justify-content: space-around;

}

.kartice img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}





/* KARTICE KRAJ */

/* Logo - sponzori */
.sponsors {
    width: 100vw;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    text-align: center;
    overflow: hidden;
}

.sponsors h3 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #e10600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sponsor-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.sponsor-logos img {
    width: 120px;
    height: auto;
}


@media (max-width: 768px) {
    .sponsor-logos img {
        width: 90px;
    }
}

@media (max-width: 480px) {
    .sponsor-logos img {
        width: 70px;
    }
}