@use "variables" as variable;

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  padding-left: 5%;
  background-color: variable.$primaryColor;
  width: 100%;

  .logo {
    background-image: url("../img/Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 70px;
  }

  ul {
    margin: 0 5%;
    display: flex;
    width: 80%;

    .active {
      background-color: variable.$secondaryColor;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.606);
    }

    li {
      width: 120px;
      height: 70px;

      &:active {
        padding: 5px;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 25px;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
      }
    }
    .select {
      margin-right: 5%;
    }
  }
}
