@use "variables" as variable;

.naslov {
  text-align: center;
  font-size: large;
  font-weight: bold;

}

.races {
  display: flex;
  justify-content: center;
  padding: 30px;
  overflow-x: auto;

  .races-data {

    h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px 10px 0 0;
      background-color: variable.$secondaryColor;
      color: white;
      height: 35px;
      font-weight: 600;
      font-size: 20px;
      box-shadow: 0 0 10px 1px #fff;

    }

    table {
      @include variable.table;
      max-width: 900px;
      margin: 0;

      span {
        display: flex;
        align-items: center;
        height: 35px;
        gap: 10px;

        &:hover {
          transition: 0.1 ease-in-out;
        }
      }

      thead {

        th {
          @include variable.th;
          padding: 10px;
          background-color: variable.$tertiaryColor;
          font-size: 18px;
          text-align: center;
          border-radius: 0;
        }
      }

      td {
        @include variable.td;
        padding: 0 10px;
        text-align: left;
      }
    }
  }
}

@media (max-width: 770px) {
  .races {
    padding: 0;

    .races-data {

      h2 {
        border-radius: 0;
      }

      table {
        border-radius: 10px;

        thead {
          th {
            font-size: 14px;
            border-radius: 0;
          }
        }

        td {
          padding: 10px 8px;
          font-size: 12px;
          width: fit-content;
        }

      }
    }
  }
}