@use "variables" as variable;

.naslov {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.races {
    display: flex;
    justify-content: center;
    padding: 30px;

    table {
        width: 96vw;
        max-width: 1500px;
        margin: 30px;
        margin-top: 90px;
        box-shadow: 0 0 20px 5px #ddd;
        border-radius: 20px 20px 0 0;
        background-color: #fff;
        font-size: 15px;
        font-weight: 600;

        .flag {
            margin-right: 10px;
        }

        thead {

            th {
                border-radius: 10px 10px 0 0;

                box-shadow: 0 0 10px 1px #fff;
                text-align: left;
                padding: 15px;
                height: 40px;
                background-color: variable.$primaryColor;
                color: #fff;
                font-size: 25px;
            }
        }

        tr:first-child {
            background-color: rgb(255, 217, 0);
        }

        tr:nth-child(2) {
            background-color: rgb(192, 192, 192, 0.7);
        }

        tr:nth-child(3) {
            background-color: rgba(206, 138, 70, 0.6);
        }

        td {
            padding: 10px 20px;
            border: 2px solid #ddd;
        }
    }
}