.raceDetails {
    display: flex;
    margin: 10px;
    padding: 20px;
    height: 100%;

    .race-card {
        margin-right: 20px;
        background-color: white;
        width: 20%;
        font-weight: bold;
        opacity: 0.8;



        .flag {
            width: 100px;
            height: 100px;
            margin-top: 0px;
        }

        .race-details {}


    }

    .race-tables {
        display: flex;
        border-collapse: collapse;
        justify-content: space-between;
        border: 5px solid white;
        align-items: center;



        .race-table1 {
            max-width: 45%;
            font-size: 10px;
            margin-right: 20px;
            background-color: bisque;
            opacity: 0.8;

            tr {
                border: 1px solid white;
                font-size: 15px;
            }


        }

        .race-table2 {
            width: 55%;
            background-color: bisque;
            font-size: 10px;
            height: 100%;
            opacity: 0.8;
            overflow: hidden;

            tr {
                border: 1px solid white;
                font-size: 15px;
            }

        }
    }

}

.raceDetails {
    display: flex;
    margin: 10px;
    padding: 20px;
    height: 100%;
}

/* Style for Race Card */
// .race-card {
//     margin-right: 20px;
//     background-color: gray;
//     width: 20%;
//     font-weight: bold;
//     opacity: 0.4;
//     transition: opacity 0.3s ease-in-out;
// }

// .race-card:hover {
//     opacity: 1;
// }

// /* Container for Tables */
// .race-tables {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     align-items: flex-start;
// }

// /* Styling for Race Tables */
// .race-table1,
// .race-table2 {
//     background-color: #333;
//     color: white;
//     font-size: 16px;
//     padding: 10px;
//     border-radius: 8px;
//     width: 50%;
//     opacity: 0.8;
//     transition: opacity 0.3s ease-in-out;
// }

// /* Hover Effect */
// .race-table1:hover,
// .race-table2:hover {
//     opacity: 1;
// }

// /* Table Styling */
// .race-table1 table,
// .race-table2 table {
//     width: 100%;
//     border-collapse: collapse;
// }

// .race-table1 tr,
// .race-table2 tr {
//     border: 1px solid white;
//     font-size: 18px;
//     transition: background-color 0.3s ease-in-out;
// }

// /* Hover Effect for Rows */
// .race-table1 tr:hover,
// .race-table2 tr:hover {
//     background-color: #555;
// }