@use "variables" as variable;

.team-details {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    padding: 30px;

    .team-card {
        border-radius: 20px 0 0px 20px;
        border: 1px solid white;
        box-shadow: 0px 5px 30px 0px rgb(22, 32, 220, 0.37),
            0px 0px 15px white inset;
        background-image: rgb(65, 62, 62);
        color: rgb(241, 232, 232);
        font-size: 18px;
        font-weight: bold;
        padding: 20px;
        background-color: #8f8080;
        justify-content: center;
        line-height: 1.5;
        opacity: 0.9;
        height: 400px;
        min-width: 250px;

        .team-bio-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span {
                h2 {
                    font-size: 20px;
                    text-align: center;
                    color: beige;
                    padding-bottom: 10px;

                }
            }
        }

        .team-avatar {
            text-align: center;
            padding-top: 30px;
            padding-bottom: 20px;
        }


        .teams-img {
            width: 150px;
            height: 80px;
            box-shadow: 5px 5px 5px 5px burlywood;
            padding: 10px;
        }



        .flag {
            width: 100px;
            height: 80px;
            margin-bottom: 10px;


        }
    }

    .team-info {
        background-image: rgb(102, 57, 57);
        color: rgb(226, 221, 221);
        height: 110px;
        box-shadow: 0px 0px 12px burlywood;
    }

    .team-details-table {
        display: flex;
        justify-content: center;

        p {
            font-size: 20px;
        }

        table {
            @include variable.table;
            max-width: 700px;
            box-shadow: 0 0 10px 1px #fff;


            thead {
                th {
                    @include variable.th;
                    font-size: 18px;
                    border-radius: 0;
                }

                td {
                    @include variable.th;
                    font-size: 18px;
                    border-radius: 0;
                    background-color: variable.$tertiaryColor
                }
            }

            td {
                @include variable.td;
                vertical-align: middle;
                text-align: center;

                span {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    height: 40px;
                    gap: 10px;
                    margin-left: 10px;

                    &:hover {
                        font-size: 16px;
                        transition: 0.1s ease-in;
                    }
                }
            }
        }
    }
}