@use "variables" as variable;

.team-details {
    display: flex;
    margin: 20px;

    .team-card {
        border-radius: 20px 0 0px 20px;
        border: 1px solid white;
        box-shadow: 0px 5px 30px 0px rgb(22, 32, 220, 0.37),
            0px 0px 15px white inset;
        background-image: rgb(65, 62, 62);
        color: rgb(241, 232, 232);
        font-size: 18px;
        font-weight: bold;
        margin-top: 5px;
        margin-left: 5px;
        padding: 20px;
        background-color: #8f8080;
        justify-content: space-between;
        line-height: 1.5;
        opacity: 0.9;



        .team-avatar {
            text-align: center;
            padding-top: 20px;

        }

        .teams-img {
            width: 150px;
            height: 80px;
            box-shadow: 5px 5px 5px 5px burlywood;
            margin-right: 100px;
        }

        .h2 {
            font-size: 16px;
            text-align: left;
        }

        .flag {
            width: 100px;
            height: 50px;
            margin-left: 100px;
            margin-bottom: 10px;
            padding-left: 30px;
            padding-top: 10px;

        }
    }

    .team-info {
        background-image: rgb(102, 57, 57);
        color: rgb(226, 221, 221);
        height: 110px;
        box-shadow: 0px 0px 12px burlywood;

    }

    .team-details-table {
        display: flex;
        justify-content: center;
        padding: 30px;


        table {
            @include variable.table;

            border-collapse: collapse;
            border: 5px solid white;
            align-items: center;
            max-width: 800px;

            thead {
                th {
                    @include variable.th;
                }
            }

            tr:first-child {
                // background-color: rgb(246, 217, 52);
                box-shadow: 0 0 70px 0 rgb(246, 217, 52) inset;
            }

            tr:nth-child(2) {
                // background-color: rgb(192, 192, 192, 0.7);
                box-shadow: 0 0 70px 0 rgb(192, 192, 192, 0.7) inset;
            }

            tr:nth-child(3) {
                // background-color: rgba(206, 138, 70, 0.6);
                box-shadow: 0 0 70px 0 rgba(206, 138, 70, 0.6) inset;
            }

            td {
                @include variable.td;
                vertical-align: middle;
                text-align: center;

                span {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    height: 40px;
                    gap: 10px;
                    margin-left: 10px;

                    &:hover {
                        font-size: 16px;
                        transition: 0.1s ease-in;
                    }
                }
            }
        }
    }
}