@use "variables" as variable;

.pitStop {
    position: absolute;
    left: 1%;
    bottom: 0%;
    width: 100px;
    height: auto;
    opacity: 1;
    z-index: -2;
}


@keyframes moveBolid {

    0% {
        right: 0;
    }

    100% {
        right: 100%;
        left: 3%;

    }

}


.bolid2 {
    position: absolute;
    top: 80%;
    right: 100px;
    width: 400px;
    height: auto;
    animation: moveBolid 6s linear forwards;
    z-index: -1;
    opacity: 0.9;
}



.teams {
    display: flex;
    justify-content: center;
    padding: 30px;

    table {
        @include variable.table;
        font-size: 18px;
        // width: 96vw;
        // max-width: 800px;
        // margin: 30px;
        // box-shadow: 0 0 20px 5px #ddd;
        // border-radius: 20px 20px 0 0;
        // background-color: #fff;
        // font-size: 15px;
        // font-weight: 600;
        // opacity: 0.8;

        p {
            font-size: 20px;
            text-align: center;
        }

        thead {
            th {
                @include variable.th;
                text-align: justify;

                // border-radius: 10px 10px 0 0;
                // box-shadow: 0 0 10px 1px #fff;
                // text-align: left;
                // padding: 15px;
                // height: 40px;
                // background-color: variable.$primaryColor;
                // color: #fff;
                // font-size: 25px;
            }
        }

        span {
            display: flex;
            align-items: center;
            cursor: pointer;
            height: 35px;
            margin-left: 10px;
            gap: 10px;
        }

        a {
            color: black;
        }

        td {
            @include variable.td;
            text-align: center;
            // padding: 10px 20px;
            // border: 2px solid #ddd;
        }
    }
}