@use "variables" as variable;

.pitStop {
    position: absolute;
    left: 1%;
    bottom: 60px;
    width: 100px;
    height: auto;
    opacity: 1;
    z-index: -2;
}


@keyframes moveBolid {

    0% {
        right: 0;
    }

    100% {
        right: 100%;
        left: 3%;

    }

}


.bolid2 {
    position: absolute;
    top: 80%;
    right: 100px;
    width: 400px;
    height: auto;
    animation: moveBolid 6s linear forwards;
    z-index: -1;
    opacity: 0.9;
}

.teams-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;

    .teams-container {
        flex: 1;
        position: relative;
        padding-bottom: 60px;

        .teams {
            display: flex;
            justify-content: center;
            padding: 30px;

            table {
                @include variable.table;
                font-size: 18px;

                p {
                    font-size: 20px;
                    text-align: center;
                }

                thead {
                    th {
                        @include variable.th;
                        text-align: justify;
                    }
                }

                span {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    height: 35px;
                    margin-left: 10px;
                    gap: 10px;
                }

                a {
                    color: black;
                }

                td {
                    @include variable.td;
                    text-align: center;
                }
            }
        }
    }
}