@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import "driverDetails";
@import "variables";
@import "drivers";
@import "home";
@import "navigation";
@import "raceDetails";
@import "races";
@import "teamDetails";
@import "teams";
@import "loader";

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Titillium Web", sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        background-image: url(../img/formula-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        background-attachment: fixed;
    }

    .racers{
     height: 100vh;

        table {
            width: 94vw;
            margin: 30px;
            background-color: beige;

            th {
                height: 40px;
            }

            td {
                padding: 10px;
                border: 1px solid #ddd;
            }
        }
    }
    .naslov{
        text-align: center;
        font-size: large;
        font-weight: bold;
    }
}

;